*{margin: 0;
  padding: 0;
  font-family: 'koho',sans-serif;
  text-decoration: none;
  color: black;
  
}

header {
  position:sticky;
  width: 1366;
  height: 90px;
  background-color: rgba(153, 139, 94, 0.5);
  left: 0px;
   right: 0px ;
   top:0px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}
.logo{
  height: 50px;
 width: 184.48px;
 margin-left: 70px;
 margin-top: 34px;


}
nav{
 gap: 35px;
  width: 574px;
  height: 28px;
  top: 34px;
  right: 362px;
  left: 430px;
}
nav a{
  color: black;
  font-weight: 500;
  font-size: 18px;
  line-height: 23,4px;
}
.flex{
  display: flex;
  flex-direction: row;
justify-content: space-between;
 align-items:center;
}

 
.iconH{
 width: 133px;
 height: 27px;
 margin-right: 97px;
 top:37px;
 gap:29px;
}
figure{
  display: flex;
  flex-direction: column;
  width: 332.68px;
  height: 451px;
  left: 10.68px;
  
}
.image{width: 332.68px;
  height: 451px;
  left: 10.68px;
  }
  figcaption{
      text-align: center;
  }
  ul {
      list-style-type: none;
      font-size: 18px;
      }
  .l1{
      font-family: 'Krub', sans-serif;
      font-weight: 400;
      color: rgba(153, 110, 94, 1);

  }
  .divImg1{
      display: flex;
      justify-content: space-between;
      margin-right: 108px;
      margin-left:108px;
  }
  main{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .div2{
      margin-top: 105px;
  }
  h1{
      margin-top: 55px;
      margin-bottom: 40px;
      margin-left: 108px;
      font-family: 'Krub', sans-serif;
      color: #996E5E ;
      font-weight: 300;
      font-style: italic;
      font-size: 36px;
      line-height: 31px;
    
      text-transform: capitalize;
      text-shadow: 0px, 4px, 4px, 0,25;
  }
  footer{
      height: 250px;
      left: 0px;
      right: 0px;
      background-color: rgba(153, 139, 94, 0.5);
      margin-top: 150px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;

  }

  .F{
   gap: 27px;
   height: 60px;
   width: 187.133px;
   margin-left: 115px;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .textf{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 149px;
    width: 123.48px;
    left: 1128px;
     margin-right: 104px;
     gap: 19px;
     


  }
