*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}
 
header{
  position:relative;
  width: 1366;
  height: 60px;
  left: 0px;
  right: 0px ;
  top:0px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(153, 139, 94, 0.5);

}

.logo{
  height: 30px;
  width: 225px;
  margin-left: 63px;
  
}

nav{
  gap: 35px;
  width: 574px;
  height: 28px;
  top: 34px;
  
  
}

.navul a{
  color: black;
  font-weight: 500;
  font-size: 18px;
  line-height: 23,4px;
  font-family: sans-serif;
  font-family: 'KoHo', sans-serif;
  transition: all 0.3s ease;
  border-radius: 20px;
  padding: 6px 15px;
}

.flex,nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}

.Icon{
  width: 133px;
  height: 27px;
   margin-right: 60px;
  top:37px;
  gap:29px;
 
}

.promo{
  color: #998B5E;
}

.liste{
  margin-top: 15px; 
}

.panier{
  margin-right: 39px;
}
/* DESCRIPTION */

.description{
height: 761px;
margin-left: 123px;
margin-right: 123px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
}

.grandePhoto{
width: 540px;
height: 760px;
}

.grandephoto{
 padding-top: 52px;
}

.robeDior{
width: 540px;
height: 695px;
margin-top: 137px;
display: flex;
flex-direction: column;
justify-content: top;
align-items: center;
}

.description h1{
font-family: 'Krub', sans-serif;
color: #996E5E;

margin-bottom: 15px
}

.robeDior p{
   font-size: 30px;
   font-family: 'Krub', sans-serif;
}

.panier{
   padding-top: 16px;
   padding-left: 23px;
   margin-bottom: 14px;
}


.lienPage12{
width: 405px;
height: 33px;
font-family: 'Krub', sans-serif;
font-size: 1em;
color: #996E5E;
font-style: italic;
padding-top: 52px;

}

ul{
  font-family: 'Krub', sans-serif;
  margin-top: 27px;
  margin-left: 45px;
}


/* A porter avec */

.aPorterAvec{

height: 568px;
margin-left: 123px;
margin-top: 160px;
margin-right: 123px;
margin-bottom: 108px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
}

.boucleOreille{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 54px;
}

.sac{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding-top: 52px;
}

.centre{
   text-align: center;
}

.titre30{
   font-size: 1.875em;
   color: #996E5E;
   font-family: 'Krub', sans-serif;
}

.aPorterAvec p{
   font-size: 1.75em;
   font-family: 'Krub', sans-serif;
}

.titreAporter{
margin-bottom: 13px;
font-family: 'Krub', sans-serif;
color: #996E5E;
}


/* footer */

footer{
height: 250px;
left: 0px;
right: 0px;
background-color: rgba(153, 139, 94, 0.5);
margin-top: 150px;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;

}

.F{
gap: 27px;
height: 60px;
width: 187.133px;
margin-left: 115px;
display: flex;
flex-direction: column;
align-items: center;
}

.textf{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 149px;
width: 123.48px;
left: 1128px;
margin-right: 104px;
gap: 19px;
}

 /* Animation */

 nav a:hover{
   background: rgba(255, 255, 255, 0.5 );
    transition: all 0.3s ease;

 }

